<html>
    <head>
        <title>Entertainment</title>
        <link rel="stylesheet" href="../static/styles/stylemain.css">
        <link rel="stylesheet" href="../static/styles/stylegrid.css">
        <link rel="stylesheet" href="../static/styles/stylegridheader.css">
        <link rel="stylesheet" href="../static/styles/stylegridfooter.css">
        <link rel="stylesheet" href="../static/styles/stylegridcontent.css">
        <link rel="stylesheet" href="../static/styles/styleselectgrid.css">
        <script src="../static/js/main.js"></script>
    </head>

    <body>
        <div class="Header">
            <a href="/" class="header_title"></a>
            <a href="/enter" class="header_option active">Entertainment Center</a>
            <a href="/desk" class="header_option_two">Desk</a>            
        </div>
        <div class="MainContent">
            <div class="CurrentColorTitle">Current Color:</div>
            <div class="CurrentColor"></div>
            <div class="SelectTitle">Select:</div>
            <div class="SelectGrid">
                <a href="?Color=ff0000" class="img1"></a>
                <a href="?Color=ff3700" class="img2"></a>
                <a href="?Color=ff0000" class="img1"></a>
                <a href="?Color=ff3700" class="img2"></a>
                <a href="?Color=ffaa00" class="img3"></a>
                <a href="?Color=43ff00" class="img4"></a>
                <a href="?Color=008000" class="img5"></a>
                <a href="?Color=00ff90" class="img6"></a>
                <a href="?Color=008080" class="img7"></a>
                <a href="?Color=a0f0ff" class="img8"></a>
                <a href="?Color=00d8ff" class="img9"></a>
                <a href="?Color=0000ff" class="img10"></a>
                <a href="?Color=800080" class="img11"></a>
                <a href="?Color=f800fc" class="img12"></a>
                <a href="?Color=333" class="img13"></a>
            </div>
        </div>
        <div class="Footer">
            <a href="/" class="footer_title">LED</a>            
        </div>
    </body>
    <script type="text/javascript">CurrentC ("{{ CC }}")</script>
</html>