<html>
    <head>
        <title>Grid Test</title>
        <link rel="stylesheet" href="../static/styles/stylemain.css">
        <link rel="stylesheet" href="../static/styles/stylegridheader.css">
        <link rel="stylesheet" href="../static/styles/stylegridfooter.css">
        <link rel="stylesheet" href="../static/styles/stylegridindex.css">
        <script src="../static/js/main.js"></script>
    </head>

    <body>
        <div class="Header">
            <a href="/" class="header_title"></a>
            <a href="/enter" class="header_option">Entertainment Center</a>
            <a href="/desk" class="header_option_two">Desk</a>             
        </div>
        <div class="MainContent">
            <div class="HomeContent">
                <div class="HomeTitle">
                    <div class="HomeTitleName">LED Area Selection:</div>
                    <a href="/enter" class="HomeTitleOption">Entertainment<br>Center</a>
                    <a href="/desk" class="HomeTitleOption second">Desk</a>
                </div>
                <div class="HomeOption">Test</div>
            </div>
        </div>
        <div class="Footer">
            <a href="/" class="footer_title">LED</a>            
        </div>
    </body>
    <script type="text/javascript">CurrentC ("{{ CC }}")</script>
    </html>