<html>
    <head>
        <link rel="stylesheet" href="../static/styles/stylemain.css">
        <link rel="stylesheet" href="../static/styles/stylelist.css">
        <title>Home Page</title>
    </head>
    
    <body>
        <section class="header">
            
        </section>
        <section class="content">
            <div class="listContainer">
                <div class="colorList">
                    <a href="/">Home</a>
                </div>
                <div class="paletteList">
                    
                </div>
            </div>
        </section>
    </body>
</html>
