* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    display: grid;
    grid-template-columns: 140px 150px auto 150px 140px;
    grid-template-rows: 100px 15% auto 2.5%;
}

@media (min-width: 1000px) {
    body {
        background-color: white;
        display: grid;
        grid-template-columns: 140px 150px auto 150px 140px;
        grid-template-rows: 100px 25% auto 50px;
    }
}